<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EE474 Term Project </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <style>
    </style>

</head>
<body >
<header>
    <div id="titleContainer">
        <h2 > EE474 Term Project (TEAM 4)</h2>
        <h2 > What's your personality ? </h2>
    </div>
</header>
<nav>
    <div id="speechContainer">

    	
	<form method="post" enctype="multipart/form-data">
	<div id="uploadContainer">
		<h3> New File</h3>
		<h4> 00 : 00 </h4>
       		
		<label for ="file-upload-input" id="file-upload-button">Upload</label>
       		<input type="file" name="file" id="file-upload-input"/>
	
	</div>	
        <div id="submitContainer">
		<input type="submit" id="submitButton" value="Submit"/>
	</div>
    	</form>
	
    {% if fname != "" %}
        <div id="speechTranscriptContainer">
            <h1>.wav file</h1>
            <p id="Filename">
                Filename : {{ fname }}
            </p>
        </div>
    {% endif %}
    </div>
</nav>


</body>
</html>
