h1, h2, h3, h4, p, input{
    font-family: 'Lato', sans-serif;
}

header {
	background-color:black;
        color:white;
	margin: 0px;
	padding: 0;
	height: 10%;
	text-align: left;
	padding: 3% 3% 5% 3%;
}

nav {
       	background-color:white;
       	color:black;
       	text-align:center;	
        height:85%;
}

#speechContainer {
    margin: 20px;
}

#uploadContainer {
	width: 300px;
	height: 200px;
	position:relative;
	top: 100px;
	left: 20px;
	padding:10px;
	border:none;
	border-radius: 25px;
	background-color:black;
	color:white;
}


#file-upload-button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    position:relative;
    top:50px;
    padding: 10px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
}

#file-upload-input{
    display: none;
}

#submitContainer {
   width: 200px;
   height: 100px;
   position:relative;
   top: 100px;
   left:80px;
}

#submitButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin-top: 20px;
}

#Filename {
    font-size: 18px;
    width: 500px;
}

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000000;
}
