h1, p, input {
    font-family: 'Lato', sans-serif;
}

titleContainer {
     background-color: #000000;
}

#speechContainer {
    margin: 20px;
}

#file-upload-button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #4b4b4b;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    color:#fff;
    font-size: 20px;
}

#file-upload-input{
    display: none;
}

#submitButton {
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechTranscriptContainer {
    margin-top: 20px;
}

#Filename {
    font-size: 18px;
    width: 500px;
}