h1, h2, h3, h4, p, input{
    font-family: 'Lato', sans-serif;
    margin:0;
}


body {
    margin:0;
    background-color:white;
}
#wrap{
    width:100vw;
    height:100vh;
    margin:0 auto;
    color:black;
    /*font-size:40px;*/
    text-align:center;
}
#header{
    width:100vw;
    height:25vh;
    line-height:50px;
    background-color:black;
    color:white;
    text-align:left;
    box-sizing:border-box;
    padding-left: 50px;
    padding-top: 50px;
}
#side_left{
    float:left;
    width:30vw;

    height:75vh;
    background-color:white;
}
 #contents{
    float:left;
    width:40vw;
    height:75vh;
    margin:0 auto;
    background-color:white;
}
 #side_right{
    float:left;
    width:30vw;

    height:75vh;
    background-color:white;
}
#uploadContainer {
	width: 300px;
	height: 200px;
	margin:0 auto;
	position:relative;
	top:100px;
	padding:10px;
	border:none;
	border-radius: 25px;
	background-color:black;
	color:white;
}
#audioContainer {
    position:relative;
    top:100px;
}

#file-upload-button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    position:relative;
    top:100px;
    padding: 10px 30px;
    cursor: pointer;
    color:white;
    font-size: 20px;
}

#file-upload-input{
    display: none;
}

#submitContainer {
   width: 200px;
   height: 100px;
   margin:0 auto;
   position:relative;
   top: 100px;
}

#submitButton {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}
